*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* list-style: none; */
    box-sizing: border-box;
    font-family: Rubik;
}
body{
    background-color: whitesmoke;
}
nav{
    background-color: white;
    height: 80px;
}
.highlighted{
    font-weight: bold;
}
label.logo{
    margin-left: 9px;
    margin-top: -5px;
}
nav ul{
    float: right;
    margin-right: 90px;
    
}
#img-logo{
    margin-left: 100px;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 15px;
}
nav ul li a{
    color: black;
}
#styled-list-1{
    margin-right: 150px;
}
#styled-link-1{
    border-radius: 13px;
    border: 1px solid red;
    padding: 7px 27px;
    color:red

}
#img-one{
width: 500px;
float: right;
margin-top: -190px;
}
.all{
    background-color: white;
    margin-top: -50px;
    padding-top: 70px;
}
.second-all{
    background-color: white;
}
.main{
    padding: 0px 100px;
    margin-top: 50px;
}
#first-pre{
    font-size: 40px;
    font-family: Rubik;
    display: inline-block;
    margin-top: 30px;

}
#second-pre{
    font-family: Rubik;
    font-size: 13px;
    line-height: 30px;
    margin-top: 20px;
}
#Get-Started{
    display: inline-block;
    padding: 10px 50px;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
    background-color: red;
    margin-top: 30px;
    font-family: Rubik;
    font-size: 15px;
    box-shadow: 0px 10px 10px -5px #F53838;
    
}

.icon-circle {
    display: inline-block;
    width: 50px;
    height: 50px; 
    line-height: 50px;
    border-radius: 50%;
    background-color: #FFECEC; 
    text-align: center;
    color: red; 
    font-size: 15px; 
    margin: 10px; 
}
.icon-div{
    margin-left: 100px;
    margin-top: 150px;
    width: 1140px;
    height: 170px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 10px 10px -5px grey;
}
#icon-1, #icon-2, #icon-3{
    display: flex;
    align-items: right;
    margin-top: 40px;
}
#vertical-line-1, #vertical-line-2{
    width: 2px;
    height: 120px;
    background-color: #EEEFF2;
    margin-top: 30px;
    margin-bottom: 20px;
}
.icon-div pre{
    margin-top: 10px;

}
.middle-section{
    margin-top: 60px;
    margin-left: 100px;
    padding-bottom: 30px;
}
.middle-section img{
    display: inline-block;
}
.middle-section pre{
    margin-top: -350px;
    margin-left: 700px;
    line-height: 30px;
}
.middle-section ul{
    margin-left: 730px;
    list-style-image: url(./images/bx_bxs-check-circle.png);
    line-height: 30px;
}
#Choose{
    text-align: center;
}
.middle-content{
display: flex;
justify-content: space-evenly;
}
#price{
    height: 750px;
    width: 330px;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    list-style-image: url(./images/Group\ 1223.png);
    padding-left: 80px;
}
#price img{
    margin-top: 70px;
}
#price h2{
    margin-top: 30px;
}
#price li{
    color: grey;
    line-height: 30px;
}
#price pre{
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 30px;
    font-size: 20px;
    color: grey;
}
.middle-content input{
    width: 160px;
    border: 2px solid red;
    border-radius: 50px;
    padding: 8px 35px;
    color: red;
    font-weight: bold;
    background-color: white;
}
#premium{
    color: white;
    background-color: red; 
    box-shadow: 0px 10px 10px -5px red;
}
.third-pre{
    text-align: center;
    margin-top: 80px;
}
.third-pre pre{
    font-weight: bold;
    font-size: 25px;
}
#third-image{
    margin-left: 100px;
    width: 1150px;
}
#fourth-image{
    width: 1150px;
    margin-left: 100px;
}
.fourth-pre{
    text-align: center;
}
.bottom-content{
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    justify-content: space-evenly;
}
#comment{
    width: 500px;
    height: 200px;
    border: 2px solid whitesmoke;
    padding: 20px 20px;
    border-radius: 10px;
    margin-left: 30px;
}
#comment i{
    color: orange;
}
#comment img, #comment pre{
    display: block;
}
#comment img{
    margin-top: 10px;
}
#comment pre{
    line-height: 7px;
    margin-left: 70px;
    margin-top: -40px;

}
#comment span{
    margin-left: 220px;
    margin-top: -40px;
}
#h-tag{
    margin-left: 220px;
    margin-top: -30px;
}
#y-tag{
    margin-top: 30px;
}
#small-button{
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    border: 1px solid red;
    margin-top: 80px;
    margin-left: 120px;
}
#small-circles{

    display: inline-block;
    width: 10px;
    height: 10px; 
    line-height: 10px;
    border-radius: 50%;
    background-color: #DDE0E4; 
    text-align: center;
    margin: 10px;

}
.small-circles-all{
margin-left: 190px;
margin-top: -20px;
}
.icons{
    float: right;
    margin-top: -45px;
    margin-right: 150px;
}
.icons i{
    font-size: 40px;
    margin-left: 20px;
}
#icon-red{
    background-color: white;
    color: red;
    border: red;
}
#icon-red-1{
    background-color: #F53838;
}
#subscribe{
    margin-left: 100px;
    width: 1090px;
    height: 233px;
    background-color: white;
    margin-top: 50px;
    padding: 30px 90px;
    z-index: 1;
}
#subscribe h2{
    font-size: 30px;
}
#subscribe p{
    margin-top: -40px;
    font-size: 15px;
    
}
#subscribe #button{
margin-left: 600px;
padding: 10px 30px;
border: 2px solid red;
background-color: red;
border-radius: 10px;
width: 170px;
color: white;
margin-top: -135px;

} 
.footer{
    width: 1349px;
    background-color: #F8F8F8;
    padding: 90px 90px;
    display: flex;
    margin-top: 30px;
}
#top-li{
    font-weight: bold;
}
.footer ul{
    margin-left: 120px;
    list-style-type: none;
    line-height: 35px;
}
.footer h2{
    margin-left: 80px;
    margin-top: -35px;
    font-size: 20px;
    font-weight: normal;
}
.footer i{
    color: orangered;
    font-size: 25px;
    box-shadow: 0px 10px 10px -5px grey;
}
#left{
    margin-left: 20px;
    
}